<!DOCTYPE html>
<html>
    <head>
        <title>USE API</title>
    </head>
    <body style="background-color:powderblue">
    <h1 style="color:Green;text-align:center">Guide: How to use this API</h1>
    <h2 style="color:OrangeRed">This API will give you information about IPL</h2>
    <h3>want to know how many teams played use this</h3>
    <p>127.0.0.1:5000/api/teams</p>
    <h3>want know team VS team information use this</h3>
    <p>127.0.0.1:5000/api/teamVteam?team1={1st team name}&team2={2nd team name}</p>
    <h3>want to know team records</h3>
    <p>127.0.0.1:5000/api/team-record?team={team name}</p>
    <h3>want to know batter record</h3>
    <p>127.0.0.1:5000/api/batter?batsman={batsman name}</p>
    <h3>want to know bowler record</h3>
    <p>127.0.0.1:5000/api/bowler-record?bowler={bowler name}</p>
    </body>
</html>
